{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react", "react-native"],
  "parserOptions": { "ecmaFeatures": { "jsx": true } },
  "env": { "react-native/react-native": true },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": 0
  },
  "parser": "babel-eslint"
}
